<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("include/head") %>
        <link rel="stylesheet" href="/styles/blog.css" />
</head>

<body>
    <%- include("include/header-aside") %>
        <main>
            <h1>
                <%= blog.title %>
            </h1>
            <div class="blog-item">
                <article>
                    <h2>
                        <%= blog.author %>
                    </h2>
                    <div class="blog-meta">
                        <p>
                            <%= blog.description %>
                        </p>
                    </div>

                    <div class="blog-actions">
                        <a href="<%= blog.website %>">View Blog</a>
                    </div>
                </article>
                </>

            </div>
        </main>
</body>

</html>